{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <div style="padding: 1rem; background-color: #a5d6ff; color: #25679D">
        On pourra mettre ici l'historique des activités des utilisateurices.
    </div>
{% endblock main %}
